*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Plain Light";
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}

#crsr{
    height: 3vw;
    width: 3vw;
    border-radius: 50%;
    position: fixed;
    z-index: 1;
    border: 1.6px solid rgb(171, 171, 171);
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}

.line{
    /* background-color: red; */
    overflow:hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    
}

#line1-part1 h5, #line1-part1 h6{
    font-size: 3vw;
    font-family: "Silk serif";
    font-weight: 100;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

.line h1{
    font-size: 6vw;
    text-transform: uppercase;
} 

.line h2{
    font-size: 4.6vw;
    text-transform: uppercase;
    /* animation-name: anime; */
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0%{
        color: #fff;
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 1;
    }
    48%{
        color: #fff;
        font-family: "Plain Light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
        font-weight: 500;
    }
}


#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 4.5vw; 
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 1vw;
    font-weight: 500;
}

.hero{
    width: 70%;
    margin-left: 27.5%;
    height: fit-content;
    overflow:hidden;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

.hero:nth-child(2){
    margin-top: 7vh;
}

.hero h1,.hero h2,.hero h3{
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 8vw;
}

.hero h2{
    transition: all ease 0.3;
}

.hero h2:nth-child(1){
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 8vw;
    border-bottom: 12px solid #fff;
    margin-right: 1vw;
}
.hero h2:nth-child(3){
    font-size: 7.4vw;
    text-transform: uppercase;
    line-height: 8vw;
    border-bottom: 12px solid #fff;
    margin-left: 0.7vw;
}

.hero h2:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 100;
    border-bottom: 12px solid #ffffff00;
}

#page2{
    position: relative;
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#video-container{
    height: 80vh;
    width: 69.2vw;
    position: relative;
    left: 30%;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
}

#video-cursor{
    background-color: #FFA63D;
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    position:absolute;
    top: -10%;
    left: 80%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}

#video-container i{
    font-size: 2vw;
}

#video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #b6b3b3;
    position: relative;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding: 5vh 0;
}

#page4-content{
    width: 71.2vw;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 5.6vw ;
    text-transform: uppercase;
    position: relative;
}

#page4-content h1::before{
    content: "03";
    position: absolute;
    font-size: 3.5vw;
    font-family: "Silk serif";
    font-weight: 400;
    left: -15%;
    top: 7%;
}

#page4-content .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 4vw 0;
}

#page4-content p:nth-child(3){
    font-size: 2.2vw;
    width: 50%;
    word-spacing: 0.2vw;
    margin-bottom: 3vw;
}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 46%;
}

#page4-flex p{
    font-size: 1vw;
    width: 25.5%;
    margin-left: 1vw;
    line-height: 1.4vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 35vw;
    padding: 3vw;
    position: relative;
    margin-top: -34vh;
    margin-left: 23vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.5vw ;
    border-bottom: 2px solid #cfcece;
}

.blue-div-elem h4{
    font-size: 1.2vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
    font-size: 0.8vw;
}

#page5{
    min-height: 100vh;
    width: 100%;    
    background-color: #151515;
    position: relative;
}

#page5 .elem{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

#page5 .elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 100;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: animate;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animate {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

#page5 .elem2{
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: -2vw;
}

#page5 .elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px #fff;
    font-weight: 100;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    transform: translateX(calc(-100% - 20px));
    animation-name: animate;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}

#page5 span{
    font-family: "Silk serif";
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

#footer{
    height: 88vh;
    width: 100%;
    background-color: #151515;
    position: relative;
    padding-left: 28vw;   
    padding-right:7vw;  
}

#footer h1{
    position: relative;
    font-size: 8vw;
    text-transform: uppercase;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 3.5vw;
    font-family: "Silk serif";
    font-weight: 400;
    left: -15%;
    top: 7%;
}

#footer .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw; 
    padding-top: 4vw;
    margin-bottom: 3vw;
}

#footer-div h6{
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box{
    width: 20%;
}

#footer-div h5{
    font-size: 1.3vw;
    font-weight: 500;
}

#footer>h5{
    margin-top: -1.2vw;
    font-weight: 500;
    font-size: 1vw;
}

